{% extends 'base.html' %}

{% block content %}

{{ ckeditor.load() }}

{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
{% endfor %}

{% if current_user.is_authenticated %}
  <h1 class="mb-3">Add Blog Post...</h1>

  <div class="shadow p-3 mb-5 bg-body rounded w-50">
    <form method="POST" class="p-5">
      {{ form.hidden_tag() }}
  
      {{ form.title.label(class="form-label") }}
      {{ form.title(class="form-control mb-3") }}

      {{ form.slug.label(class="form-label") }}
      {{ form.slug(class="form-control mb-3") }}

      {{ form.content.label(class="form-label") }}
      {{ form.content(class="form-control mb-3", rows="5") }}
  
      {{ form.submit(class="btn btn-outline-secondary w-100 p-2 mt-2") }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
  </div>

{% else %}
  <h1 class="mb-5">Must be Logged In ...</h1>
  <h3 class="text-danger mb-5">Sorry, You must be logged in to access this page!</h3>
  <a href="{{ url_for('login') }}">Login Here</a>
{% endif %}
{% endblock %}