{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
{% endfor %}
  <h1 class="mb-3">Add Blog Post...</h1>

  <div class="shadow p-3 mb-5 bg-body rounded w-50">
    <form method="POST" class="p-5">
      {{ form.hidden_tag() }}
  
      {{ form.title.label(class="form-label") }}
      {{ form.title(class="form-control mb-3") }}
  
      {{ form.author.label(class="form-label") }}
      {{ form.author(class="form-control mb-3") }}
  
      {{ form.slug.label(class="form-label") }}
      {{ form.slug(class="form-control mb-3") }}

      {{ form.content.label(class="form-label") }}
      {{ form.content(class="form-control mb-3", rows="5") }}
  
      {{ form.submit(class="btn btn-outline-secondary w-100 p-2 mt-2") }}
    </form>
  </div>
{% endblock %}