{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
    {{ message }}
  </div>
{% endfor %}
{% if current_user.is_authenticated %}
  <div class="container d-flex flex-column align-items-center">
    <div class="card w-50">
      <div class="card-header">
        <h3 class="text-secondary text-center">{{ current_user.username|upper }}</h3>
      </div>
      <div class="card-body row">
        <p class="card-text p-4 d-flex flex-column justify-content-center col-12 col-md-9">
          <strong class="d-block mb-2">Name: {{ current_user.name }}</strong>
          <strong class="d-block mb-2">Email: {{ current_user.email }}</strong>
          <strong class="d-block mb-2">Favorite Color: {{ current_user.favorite_color }}</strong>
          <strong class="d-block mb-2">About Author: <br /><span class="p-5">{{ current_user.about_author }}</span></strong>
          <strong class="d-block mb-2">Profile Photo: {{ current_user.profile_pic }}</strong>
          <strong class="d-block mb-2">Date Join: {{ current_user.date_added }}</strong>
        </p>
        <div class="w-25 col-12 col-md-3">
          {% if current_user.profile_pic %}
            <img src="{{ url_for('static', filename='images/' + current_user.profile_pic)}}" class="w-100 shadow">
          {% else %}
            <img src="{{ url_for('static', filename='images/han.jpg')}}" class="w-100 shadow">
          {% endif %}
          
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-outline-secondary w-50">Update Profile</a>
        <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-outline-danger w-50 mx-3">Delete Profile</a>
        <a href="{{ url_for('logout') }}" class="btn btn-dark w-50">Logout</a>
      </div>
    </div>

    <div class="card w-50 my-3">
      <div class="card-header">
        <h3 class="text-secondary text-center">UPDATE FORM</h3>
      </div>
      <div class="card-body opcity-0">
        <form action="/dashboard" method="POST" enctype="multipart/form-data" class="p-2">
          {{ form.hidden_tag() }}
        
          {{ form.name.label(class="form-label") }}
          {{ form.name(class="form-control mb-3", value=current_user.name) }}
        
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control mb-3", value=current_user.username) }}
        
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control mb-3", value=current_user.email) }}
        
          {{ form.favorite_color.label(class="form-label") }}
          {{ form.favorite_color(class="form-control mb-3", value=current_user.favorite_color) }}

          {{ form.about_author.label(class="form-label") }}
          <textarea name="about_author" rows="7" class="form-control">{{ current_user.about_author }}</textarea>

          {{ form.profile_pic.label(class="form-label") }}
          {{ form.profile_pic(class="form-control mb-3") }}
          
          {{ form.submit(class="btn btn-outline-secondary w-100 mt-2 p-2") }}
        </form>
      </div>
    </div>
  </div>
  
{% endif %}
{% endblock %}